# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

pytest.ini
tests/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db-journal

.gitattributes
.DS_Store

# Logs
logs/
*.log data/
