# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*


# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db-journal

# Hugging Face specific
.gitattributes
.DS_Store

# Logs
logs/
*.log data/
